<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<br>
<br>
<br>

<table>
<tbody>
<tr>
<td>
{#        {% for item in a %}#}
{#            <li> {{ item }}</li>#}
{#        {% endfor %}#}
{{ a }}
</td>
<td>
        {% for item in b %}
           <li> {{ item }}</li>
        {% endfor %}
</td>
<td>
{#        {% for item in c %}#}
{#           <li> {{ item }}</li>#}
{#        {% endfor %}#}
{{ c }}
</td>
</tr>
</tbody>
</table>





</body>
</html>