<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForgotPassword</title>
</head>
<body>
<h1>遺忘密碼並確認該用戶行使更改密碼</h1>

    {% if get_flashed_messages() %}
        <div style="color: cornflowerblue">{{ get_flashed_messages()[0] }}</div>
    {% endif %}

<form method="POST" action="" novalidate>
{{ form.hidden_tag() }}


<br>
<br>
{{ form.password1 }}
{% for message in form.password1.errors %}
    <div style="color: crimson">{{ message }}</div>
{% endfor %}
<br>
<br>
{{ form.password2 }}
{% for message in form.password2.errors %}
    <div style="color: crimson">{{ message }}</div>
{% endfor %}
<br>
<br>


{{ form.submit }}


</form>

<br>
<br>
<br>
<br>

{% if current_user.is_authenticated %}
{% else %}
    <a href="{{ url_for('Home') }}">首頁</a>
    <a href="{{ url_for('Register') }}">註冊</a>
    <a href="{{ url_for('Login') }} ">登入</a>
{% endif %}


</body>
</html>